modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 5000

[[ports]]
localPort = 5175
externalPort = 4200

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 18389
externalPort = 3003

[[ports]]
localPort = 22659
externalPort = 3000

[[ports]]
localPort = 24975
externalPort = 3001

[objectStorage]
defaultBucketID = "replit-objstore-167ad931-db39-4378-86cb-ffb8a6acb56e"

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_aW50ZWdyYWwtYm9iY2F0LTEuY2xlcmsuYWNjb3VudHMuZGV2JA"
CLERK_PUBLISHABLE_KEY = "pk_test_aW50ZWdyYWwtYm9iY2F0LTEuY2xlcmsuYWNjb3VudHMuZGV2JA"
BASE_PATH = "/"
VITE_BASE_PATH = "/"
VITE_API_URL = "http://localhost:3001"
CLERK_SECRET_KEY = "sk_test_9YqJQTV0wLOh4kWs0SOJDWmMtBmdojopmi0Zz3zJUO"

[nix]
channel = "stable-25_05"
